text {
  font: 10px sans-serif;
  font-family: 'Passion One', cursive;
  cursor: pointer;
}



h2, h3, .count {
  font: 48px sans-serif;
  font-family: 'Passion One', cursive;
  text-transform: uppercase;
  line-height: 0.8em;
}

.count {
  font: 36px sans-serif;
  font-family: 'Passion One', cursive;
  display: block;
  position: fixed;
  right: 60px;
  top: 72px;
  color: rgba(0,0,0,0.4);
}

h2 {
  font-size: 20px;  
}

.footer {
  padding: 40px 20px;
  width: 50%;

  display: block;
}

.type {
  font: 24px sans-serif;
  padding-right: 5px;
  text-transform: uppercase;
  font-family: 'Passion One', cursive;

}

.attribution {
  font-weight: 0.9em;
  font-style: italic;
}

.attribution:before {
  content: ' - ';
}

.contents {
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 1000;
  background: rgba(200,200,200, 0.8);
  color: #000;
  width: 400px;
  height: 300px;
  padding: 10px 10px 30px 10px;
  overflow-y: scroll;
  
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
}
.content {
  margin-top: 20px;
}

.graph {
  z-index: 100;
}

.item {
  padding: 10px 0;
}